<h3 class="text-2xl font-semibold mb-6">Hotspot Profiles</h3>

<h4 class="text-xl font-semibold mb-4">Buat Profile Baru</h4>
<form action="/r/<%= router._id %>/hotspot-profiles" method="POST" class="mb-8 bg-white shadow rounded-lg p-4">
    <div class="mb-4">
        <label for="profileName" class="block text-sm font-medium text-gray-700">Nama Profile :</label>
        <input type="text" id="profileName" name="profileName" required
            class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500">
    </div>

    <div class="mb-4">
        <label for="amount" class="block text-sm font-medium text-gray-700">Harga :</label>
        <input type="number" id="amount" name="amount" required
            class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500">
    </div>

    <button type="submit"
        class="w-full bg-blue-500 text-white font-bold py-2 rounded hover:bg-blue-600 transition duration-300">Buat Profile</button>
</form>

<h4 class="text-xl font-semibold mb-4">Profile Yang Sudah Ada</h4>
<ul class="bg-white shadow rounded-lg p-4">
    <% router.hotspotProfiles.forEach(profile => { %>
    <li class="flex flex-col sm:flex-row items-center justify-between mb-4 p-2 border-b last:border-b-0 ">
        <div class="flex-1 mb-2 sm:mb-0 ">
            <strong class="text-gray-800">Nama:</strong> <span class="text-gray-600"><%= profile.profileName %></span>, 
            <strong class="text-gray-800">Harga:</strong> <span class="text-gray-600"><%= profile.amount %></span>
        </div>

        <div class="flex space-x-2">
            <form action="/r/detail/<%= router._id %>/hotspot-profiles/edit/<%= profile._id %>" method="POST" class="flex space-x-2">
                <input type="text" name="profileName" value="<%= profile.profileName %>" required
                    class="border border-gray-300 rounded px-2 py-1 w-32">
                <input type="number" name="amount" value="<%= profile.amount %>" required
                    class="border border-gray-300 rounded px-2 py-1 w-20">
                <button type="submit" class="bg-yellow-500 text-white font-bold py-1 px-3 rounded hover:bg-yellow-600 transition duration-300">Edit</button>
            </form>

            <form action="/r/detail/<%= router._id %>/hotspot-profiles/delete/<%= profile._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this profile?');">
                <button type="submit" class="bg-red-500 text-white font-bold py-1 px-3 rounded hover:bg-red-600 transition duration-300">Delete</button>
            </form>
        </div>
    </li>
    <% }) %>
</ul>
