<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body class="bg-gray-100 text-gray-900">
    <%- include('partials/navbar') %>

    <div class="container mx-auto px-4 py-8">
        
        <h2 class="text-2xl font-bold mb-4">
            <span id="greeting"></span>, <%= username %>!
          </h2>
          
                  <div class="mb-6">
            <button id="addRouterBtn"
                class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">
                Tambah Router
            </button>
            <button id="settingBtn"
                class="ml-4 bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300">
                Setting
            </button>
        </div>
          
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4" id="countPayment">
    <!-- Total Pendapatan -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <div class="flex items-center">
            <div class="bg-green-500 text-white w-12 h-12 flex items-center justify-center rounded-full">
                <i class="fas fa-money-bill-wave"></i>
            </div>
            <div class="ml-4">
                <h4 class="text-md font-semibold text-gray-800">Total Pendapatan</h4>
                <p id="total-income" class="text-xl font-bold text-green-500">Rp 0</p>
            </div>
        </div>
    </div>

    <!-- Total Pendapatan Hari Ini -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <div class="flex items-center">
            <div class="bg-blue-500 text-white w-12 h-12 flex items-center justify-center rounded-full">
                <i class="fas fa-calendar-day"></i>
            </div>
            <div class="ml-4">
                <h4 class="text-md font-semibold text-gray-800">Pendapatan Hari Ini</h4>
                <p id="today-income" class="text-xl font-bold text-blue-500">Rp 0</p>
            </div>
        </div>
    </div>

    <!-- Total Transaksi -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <div class="flex items-center">
            <div class="bg-yellow-500 text-white w-12 h-12 flex items-center justify-center rounded-full">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="ml-4">
                <h4 class="text-md font-semibold text-gray-800">Total Transaksi</h4>
                <p id="total-transactions" class="text-xl font-bold text-yellow-500">0</p>
            </div>
        </div>
    </div>

    <!-- Total Transaksi Hari Ini -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <div class="flex items-center">
            <div class="bg-red-500 text-white w-12 h-12 flex items-center justify-center rounded-full">
                <i class="fas fa-calendar-check"></i>
            </div>
            <div class="ml-4">
                <h4 class="text-md font-semibold text-gray-800">Transaksi Hari Ini</h4>
                <p id="today-transactions" class="text-xl font-bold text-red-500">0</p>
            </div>
        </div>
    </div>
</div>
          
          


        <!-- Add Router Form -->
        <div id="routerForm" class="form-container hidden bg-white p-6 rounded shadow-lg">
            <h3 class="text-xl font-semibold mb-4">Tambah Router</h3>
            <form action="/add-router" method="POST">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium">Nama Router:</label>
                    <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" required>
                </div>

                <div class="mb-4">
                    <label for="ip" class="block text-sm font-medium">IP Address:</label>
                    <input type="text" id="ip" name="ip" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" required>
                </div>

                <div class="mb-4">
                    <label for="port" class="block text-sm font-medium">Port:</label>
                    <input type="number" id="port" name="port" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" required>
                </div>

                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium">Username:</label>
                    <input type="text" id="username" name="username" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" required>
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium">Password:</label>
                    <input type="text" id="password" name="password" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" >
                </div>

                <div class="mb-4">
                    <label for="dnsMikrotik" class="block text-sm font-medium">DNS MikroTik:</label>
                    <input type="text" id="dnsMikrotik" name="dnsMikrotik" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500">
                </div>

                <button type="submit"
                    class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">
                    Tambah Router
                </button>
            </form>
        </div>

        <!-- Setting Form -->
        <div id="settingForm" class="form-container hidden bg-white p-6 rounded shadow-lg mt-6">
            <h3 class="text-xl font-semibold mb-4">Setting Tripay</h3>
            <form action="/setting" method="POST">
                <div class="mb-4">
                    <label for="router" class="block text-sm font-medium">Pilih Router:</label>
                    <select id="router" name="router"
                        class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500" required>
                        <option value="">-- Pilih Router --</option>
                        <% routers.forEach(router => { %>
                        <option value="<%= router._id %>" <%= setting && setting.router.toString() === router._id.toString() ? 'selected' : '' %> >
                            <%= router.name %> (IP: <%= router.ip %>)
                        </option>
                        <% }) %>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="endpoint" class="block text-sm font-medium">Endpoint:</label>
                    <input type="text" id="endpoint" name="endpoint"
                        class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                        value="<%= setting ? setting.endpoint : '' %>" required>
                        <div class="bg-red-100 my-4 rounded-md p-5">
                            <p>Catatan:</p>
                            <p class="text-sm font-medium text-red-500 ml-3">Contoh: <strong> https://tripay.co.id/api-sandbox/ </strong> untuk simulator</p>
                            <p class="text-sm font-medium text-red-500 ml-3">Contoh: <strong>https://tripay.co.id/api/</strong> untuk pruduction</p>
                            <p class="text-sm font-medium text-red-500 ml-3">Di belakang harus ada / diakir</p>

                        </div>
                </div>

                <div class="mb-4">
                    <label for="apiKey" class="block text-sm font-medium">Api Key:</label>
                    <input type="text" id="apiKey" name="apiKey"
                        class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                        value="<%= setting ? setting.apiKey : '' %>" required>
                </div>

                <div class="mb-4">
                    <label for="privateKey" class="block text-sm font-medium">Private Key:</label>
                    <input type="text" id="privateKey" name="privateKey"
                        class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                        value="<%= setting ? setting.privateKey : '' %>" required>
                </div>

                <div class="mb-4">
                    <label for="merchantCode" class="block text-sm font-medium">Merchant Code:</label>
                    <input type="text" id="merchantCode" name="merchantCode"
                        class="mt-1 block w-full border border-gray-300 rounded py-2 px-3 shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                        value="<%= setting ? setting.merchantCode : '' %>" required>
                </div>

                <button type="submit"
                    class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300">
                    Simpan
                </button>
            </form>
        </div>

            <!-- List of Routers -->
            <h3 class="text-xl font-semibold mt-8 mb-4">MikroTik Routers</h3>

            <% if (routers.length > 0) { %>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <% routers.forEach(router => { %>
                <a href="/r/detail/<%= router._id %>" class="group block bg-white shadow-md rounded-lg p-4 transform transition-all duration-300 hover:bg-gray-100 hover:shadow-xl"
                    data-router-id="<%= router._id %>" data-router-ip="<%= router.ip %>" data-router-port="<%= router.port %>">
                    <div class="flex items-center">
                    <img src="https://cdn.pixabay.com/photo/2020/10/03/15/11/router-5623782_960_720.png"
                        class="bg-blue-500 text-white w-10 h-10 flex items-center justify-center rounded-full">
                    <div class="ml-4">
                        <h4 class="text-md font-semibold text-gray-800 group-hover:text-blue-500">
                        <%= router.name %>
                        </h4>
                        <p class="text-sm text-gray-500">IP: <%= router.ip %></p>
                        <p class="text-sm text-gray-500">Port: <%= router.port %></p>
                        <p class="status-router text-sm text-gray-500">Status: <span id="status-<%= router._id %>">Checking...</span></p>
                    </div>
                    </div>
                </a>
                <% }) %>
            </div>
            <% } else { %>
            <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative w-fit" role="alert">
                <span class="block sm:inline">Tidak ada router yang tersedia saat ini.</span>
            </div>
            <% } %>



        

        
        <%- include('partials/transactions') %> 
 


        <p class="text-sm text-gray-400 mt-4">Saat ini Hanya bisa menggunakan 1 Router</p>
        <a href="/logout" class="text-red-500 hover:underline">Logout</a>
    </div>

    <script>
        function getGreeting() {
            const hour = new Date().getHours();
            if (hour < 12) {
            return "Selamat Pagi";
            } else if (hour < 15) {
            return "Selamat Siang";
            } else if (hour < 18) {
            return "Selamat Sore";
            } else {
            return "Selamat Malam";
            }
        }

  document.getElementById("greeting").textContent = getGreeting();

        document.getElementById('addRouterBtn').addEventListener('click', function () {
            const form = document.getElementById('routerForm');
            const cardIncome = document.getElementById('countPayment')
            form.classList.toggle('hidden');
            countPayment.classList.toggle('hidden')
        });

        document.getElementById('settingBtn').addEventListener('click', function () {
            const form = document.getElementById('settingForm');
            const cardIncome = document.getElementById('countPayment')
            form.classList.toggle('hidden');
            countPayment.classList.toggle('hidden')
        });
        // cek status router

        document.addEventListener("DOMContentLoaded", function() {
        const routerLinks = document.querySelectorAll('a[data-router-id]');

        routerLinks.forEach(link => {
            const routerId = link.getAttribute('data-router-id');
            const routerIp = link.getAttribute('data-router-ip');
            const routerPort = link.getAttribute('data-router-port');


            checkRouterStatus(routerIp, routerPort, (status) => {
            const statusElement = document.getElementById(`status-${routerId}`);
            if (status === 'online') {
                statusElement.textContent = 'Online';
                statusElement.classList.remove('text-gray-500');
                statusElement.classList.add('text-green-500');
            } else {
                statusElement.textContent = 'Offline';
                statusElement.classList.remove('text-gray-500');
                statusElement.classList.add('text-red-500');
            }
            });
        });
        });


        function checkRouterStatus(ip, port, callback) {
            const url = `/api/router-status?ip=${ip}&port=${port}`;
            fetch(url)
            .then(response => {
                if (response.ok) {
                callback('online');
                } else {
                callback('offline');
                }
            })
            .catch(error => {
                console.error('Error checking router status:', error);
                callback('offline');
            });
        }


    </script>
</body>

</html>
